#mapid {
    max-width: 100%;
    height:700px;
    border-radius: 12px;
}
.logo {
    display: flex;
}
html::-webkit-scrollbar-track {
    background-color: rgba(244, 210, 98, 0.63);
}
img  {
        height: 100px;
        width: auto;
}
.container {
    margin: 1rem;
}
.navbar {
    z-index: 10;
}
.select.dropdown{
    width: 100%;
}
.select select {
    width: 100%;
}
html ,body {
    min-height: 100vh;
    background-color: #c3e8d7;
}
body {
    background-image: url('images\\lake-g793ff6252_1920.jpg');
    background-size: cover;
}
.wrap-collabsible {
    margin-bottom: .5rem;
}

div.buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: space-around;
    justify-self:center;
    align-self: center;
}
.control {
    width: 100%;
}
#noborder {
        border: 0px;
        padding: 0.1rem;
        padding-bottom: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
}
.buttons .item {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 250px;
    align-items: center;
    justify-content: space-around;
}
input[type='checkbox'] {
    display: none;
}
.content-inner input[type='checkbox'] {
    display: block;
}

.lbl-toggle {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #DDD;
    background: #48c78e;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    color: #FFF;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow-y: scroll;
    transition: max-height .25s ease-in-out;
    display: flex;
    width: 100%;
}
.select.dropdown select, select.dropdown select  option{
    width: 100%;

}
#labelCheck label {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#labelCheck label:hover {
    background-color: #06161c13;
    cursor: pointer;
}
.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 350px;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-around;
}

.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
        background: rgb(229 231 203 / 65%);
        ;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        padding: 0.5rem 1rem;
        width: 100%;
        display: flex;
        margin: auto;
        flex-flow: column;
        
}
/*toggle2 */
.content-inner2 input[type='checkbox'] {
    display: block;
}

.lbl-toggle2 {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #DDD;
    background: #48c78e;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle2:hover {
    color: #FFF;
}

.lbl-toggle2::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle2:checked+.lbl-toggle2::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content2 {
    max-height: 0px;
    overflow-y: scroll;
    transition: max-height .25s ease-in-out;
    display: flex;
    width: 100%;
    margin: auto;
}

.toggle2:checked+.lbl-toggle2+.collapsible-content2 {
    max-height: 350px;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-around;
}

.toggle2:checked+.lbl-toggle2 {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content2 .content-inner2 {
    background: rgb(229 231 203 / 65%);
    ;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    margin: auto;
    flex-flow: column;

}
/*toggle2 */
.content-inner3 input[type='checkbox'] {
    display: block;
}

.lbl-toggle3 {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #DDD;
    background: #48c78e;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle3:hover {
    color: #FFF;
}

.lbl-toggle3::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle3:checked+.lbl-toggle3::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content3 {
    max-height: 0px;
    overflow-y: scroll;
    transition: max-height .25s ease-in-out;
    display: flex;
    width: 100%;
    margin: auto;
}

.toggle3:checked+.lbl-toggle3+.collapsible-content3 {
    max-height: 350px;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-around;
}

.toggle3:checked+.lbl-toggle3 {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content3 .content-inner3 {
    background: rgb(229 231 203 / 65%);
    ;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    margin: auto;
    flex-flow: column;

}

nav {
    z-index: 1;
}
h2 {
    font-size: .5em;
    font-weight: 400;
}
#mapid {
    z-index: 3;
}
.columns {
    flex-flow: row;
}
.middle-section{
    padding-top: 4vh;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 0px 0px 10px 0px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 0px 0px 10px 0px;
    background: #6d6d6d;
}

@media screen and (min-width: 769px){


}

.tablink{
    padding: 1rem;
}

.tab-link:hover{
    color: inherit;
}

.doc-section{
    padding: 2rem;
    padding-top: 0px;
}

.tabs-section{
    padding-top: 0px;
}

.dark-grey,.dark-grey:hover{
    color:#fff!important;
    background-color:#48c78e!important
}

.button{
    max-width: 130px;
}

.button-box{
    display:flex;
    justify-content:start;
    justify-items:right;
}

.button-box p{
    margin-right: 5px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color:white;
}

.toggle-btn{
    width: 40px;
    height: 26px;
    background: gray;
    border-radius: 15px;
    padding: 5px;
    transition: all 300ms ease-in-out;
}

.toggle-btn>.inner-circle{
    width: 17px;
    height: 17px;
    background: #fff;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}

.toggle-btn.active{
    background:#00acee;
}

.toggle-btn.active> .inner-circle{
    margin-left: 14px;
}

.results> h1 >{
    display: flex;
    justify-content: center;
}

div#HomeTitle {
    align-items: center;
    margin-left: 5rem;
    font-size: 3.5em;  
    justify-content: space-around;
    display: flex;
}

.navbar-menu {
	background-color: #48c78e;
    
}
.navbar-item{
    color: white;
}
