#mapid {
    max-width: 100%;
    height:480px;
    border-radius: 12px;
}
@media screen and (min-width: 1408px) {
.container:not(.is-max-desktop):not(.is-max-widescreen) {
    max-width: 100%;
}
}

.logo {
    display: flex;
}
html::-webkit-scrollbar-track {
    background-color: rgba(244, 210, 98, 0.63);
}
img  {
        height: 100px;
        width: auto;
}
.container {
    padding: 1rem;
}
.navbar {
    z-index: 10;
}
.select.dropdown{
    width: 100%;
}
.select select {
    width: 100%;
}
html ,body {
    min-height: 100vh;
    background-color: #c3e8d7;
}
body {
    background-image: url('images\\lake-g793ff6252_1920.jpg');
    background-size: cover;
}
.wrap-collabsible {
    margin-bottom: .5rem;
}

div.buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    justify-items: space-around;
    justify-self:center;
    align-self: center;
}
.navbar>.container {
    align-items: stretch;
    display: flex;
    min-height: 3.25rem;
    /* width: 100%; */
}

.control {
    width: 100%;
}
#noborder {
        border: 0px;
        padding: 0.1rem;
        padding-bottom: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
}
.buttons .item {
    display: flex;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 250px;
    align-items: center;
    justify-content: space-around;
}
input[type='checkbox'] {
    display: none;
}
.content-inner input[type='checkbox'] {
    display: block;
}

.lbl-toggle {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #DDD;
    background: #48c78e;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
    color: #FFF;
}

.lbl-toggle::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle:checked+.lbl-toggle::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
    max-height: 0px;
    overflow-y: scroll;
    transition: max-height .25s ease-in-out;
    display: flex;
    width: 100%;
}
.select.dropdown select, select.dropdown select  option{
    width: 100%;

}
#labelCheck label {
    font-size: 1.4em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.overview {
        display: flex;
        background-color: #efefef80;
        color: black;
        border-radius: 7px;
        margin: 1rem;
        padding: 1rem;
        max-height: 250px;
        width: 50%;
        overflow-y: scroll;
        flex-direction: column;
}
.overview::-webkit-scrollbar-thumb{
    border-radius: 0px 10px 10px 0px
}
.overview::-webkit-scrollbar-track {
    background-color: #31694f66;
}
.split {
    display: flex;
}
#labelCheck input {
    transform: scale(150%);
}
#labelCheck label:hover {
    background-color: #06161c13;
    cursor: pointer;
}
.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 350px;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-around;
}

.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
        background: rgb(229 231 203 / 65%);
        ;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        padding: 0.5rem 1rem;
        width: 100%;
        display: flex;
        margin: auto;
        flex-flow: column;
        
}
/*toggle2 */
.content-inner2 input[type='checkbox'] {
    display: block;
}

.lbl-toggle2 {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #DDD;
    background: #48c78e;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle2:hover {
    color: #FFF;
}

.lbl-toggle2::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle2:checked+.lbl-toggle2::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content2 {
    max-height: 0px;
    overflow-y: scroll;
    transition: max-height .25s ease-in-out;
    display: flex;
    width: 100%;
    margin: auto;
}

.toggle2:checked+.lbl-toggle2+.collapsible-content2 {
    max-height: 350px;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-around;
}

.toggle2:checked+.lbl-toggle2 {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content2 .content-inner2 {
    background: rgb(229 231 203 / 65%);
    ;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    margin: auto;
    flex-flow: column;

}
/*toggle3 */
.content-inner3 input[type='checkbox'] {
    display: block;
}

.lbl-toggle3 {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #DDD;
    background: #48c78e;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle3:hover {
    color: #FFF;
}

.lbl-toggle3::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle3:checked+.lbl-toggle3::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content3 {
    max-height: 0px;
    overflow-y: scroll;
    transition: max-height .25s ease-in-out;
    display: flex;
    width: 100%;
    margin: auto;
}

.toggle3:checked+.lbl-toggle3+.collapsible-content3 {
    max-height: 350px;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-around;
}

.toggle3:checked+.lbl-toggle3 {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content3 .content-inner3 {
    background: rgb(229 231 203 / 65%);
    ;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    margin: auto;
    flex-flow: column;

}
/*toggle 4*/
.content-inner4 input[type='checkbox'] {
    display: block;
}

.lbl-toggle4 {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #DDD;
    background: #48c78e;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle4:hover {
    color: #FFF;
}

.lbl-toggle4::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle4:checked+.lbl-toggle4::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content4 {
    max-height: 0px;
    overflow-y: scroll;
    transition: max-height .25s ease-in-out;
    display: flex;
    width: 100%;
    margin: auto;
}

.toggle4:checked+.lbl-toggle4+.collapsible-content4 {
    max-height: 350px;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-around;
}

.toggle4:checked+.lbl-toggle4 {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content4 .content-inner4 {
    background: rgb(229 231 203 / 65%);
    ;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    margin: auto;
    flex-flow: column;

}
/*toggle 5*/
.content-inner5 input[type='checkbox'] {
    display: block;
}

.lbl-toggle5 {
    display: block;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1rem;
    color: #DDD;
    background: #48c78e;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.25s ease-out;
}

.lbl-toggle5:hover {
    color: #FFF;
}

.lbl-toggle5::before {
    content: ' ';
    display: inline-block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;
    vertical-align: middle;
    margin-right: .7rem;
    transform: translateY(-2px);
    transition: transform .2s ease-out;
}

.toggle5:checked+.lbl-toggle5::before {
    transform: rotate(90deg) translateX(-3px);
}

.collapsible-content5 {
    max-height: 0px;
    overflow-y: scroll;
    transition: max-height .25s ease-in-out;
    display: flex;
    width: 100%;
    margin: auto;
}

.toggle5:checked+.lbl-toggle5+.collapsible-content5 {
    max-height: 350px;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: space-around;
}

.toggle5:checked+.lbl-toggle5 {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content5 .content-inner5 {
    background: rgb(229 231 203 / 65%);
    ;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    padding: 0.5rem 1rem;
    width: 100%;
    display: flex;
    margin: auto;
    flex-flow: column;

}
nav {
    z-index: 1;
}
h2 {
    font-size: 3.2vw;
    font-weight: 400;
}
@media screen and (min-width:1080px){
    h2{
        font-size: 40px;
    }
}
#mapid {
    z-index: 3;
}
.columns {
    flex-flow: row;
}
.middle-section{
    padding-top: 4vh;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #00000000;
    -webkit-border-radius: 10px;
    border-radius: 0px 0px 10px 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px 0px 10px 0px;
    background-color: rgba(255, 255, 255, 0);
    background-image: -webkit-gradient(linear,
            40% 0%,
            75% 84%,
            from(#4D9C41),
            to(#19911D),
            color-stop(.6, #54DE5D))
}


@media screen and (min-width: 769px){


}

.tablink{
    padding: 1rem;

    background-color: #a1e6b896;

}

.tab-link:hover{
    color: inherit;
}

.doc-section{
    padding: 2rem;
    padding-top: 0px;
}

.tabs-section{
    padding-top: 100px;
}

.dark-grey,.dark-grey:hover{
    color:#fff!important;
    background-color:#48c78e!important
}

.button{
    max-width: 130px;
}

.button-box{
    display:flex;
    justify-content:start;
    justify-items:right;
}

.button-box p{
    margin-right: 5px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color:white;
}

.toggle-btn{
    width: 40px;
    height: 26px;
    background: gray;
    border-radius: 15px;
    padding: 5px;
    transition: all 300ms ease-in-out;
}

.toggle-btn>.inner-circle{
    width: 17px;
    height: 17px;
    background: #fff;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}

.toggle-btn.active{
    background:#00acee;
}

.toggle-btn.active> .inner-circle{
    margin-left: 14px;
}

.results> h1 >{
    display: flex;
    justify-content: center;
}

div#HomeTitle {
    align-items: center;
    font-size: 3.5em;  
    justify-content: space-around;
    display: flex;
    background-color: #13b16a;
}

.navbar-menu {
	background-color: #13b16a;
    
}
.navbar-item{
    color: white;
    font-size: 130%
}
.has-background-success {
    background-color: #c3e8d7;

}

#EnvFeatures, #SectionRatings{
    max-width:  800px;
    text-align: left;
}

/* InDev */

#topBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #48c78e;
    color: white;
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; 
    border-radius: 10px;
    font-size: 18px;
  }
  
  #topBtn:hover {
    background-color: #a1e6b896; /* Adds a dark-gray background when hover */
  }
