#mapid {
    max-width: 100%;
    height:700px;
}
html ,body {
    min-height: 100vh;
    background-color: #c3e8d7;
}
nav {
    z-index: 1;
}
h2 {
    font-size: .7em;
    font-weight: 400;
}
#map {
    z-index: 0;
}
.columns {
    flex-flow: row;
}
.bg{
    background-image: url(images/forest.jpg);
}

.sectionBg {
    background: rgba(46,139,87, .95);
    padding: 40px;
    border-radius: 6px;
    max-width: 2200px;
    /*min-width: 2200px;*/
}

.middle-section{

    padding-top: 2vh;
}
@media screen and (min-width: 769px){

}}

.top-section{

}
@media screen and (min-width: 769px)

.tablink{
    padding: 1rem;
}

.tab-link:hover{
    color: inherit;
}

.doc-section{
    padding: 2rem;
    padding-top: 0px;
}

.tabs-section{
    padding-top: 0px;
}

.dark-grey,.dark-grey:hover{
    color:#fff!important;
    background-color:#48c78e!important
}

.button{
    max-width: 130px;
}

.button-box{
    display:flex;
    justify-content:start;
    justify-items:right;
}

.button-box p{
    margin-right: 5px;
    font-family: BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color:white;
}

.toggle-btn{
    width: 40px;
    height: 26px;
    background: gray;
    border-radius: 15px;
    padding: 5px;
    transition: all 300ms ease-in-out;
}

.toggle-btn>.inner-circle{
    width: 17px;
    height: 17px;
    background: #fff;
    border-radius: 50%;
    transition: all 300ms ease-in-out;
}

.toggle-btn.active{
    background:#00acee;
}

.toggle-btn.active> .inner-circle{
    margin-left: 14px;
}

.results> h1 >{
    display: flex;
    justify-content: center;
}

div#HomeTitle {
    align-items: center;
    margin-left: 5rem;
    font-size: 3.5em;  
}

.navbar-menu {
	background-color:#48c78e
}
.navbar-item{
    color: white;
    font-size: larger;
}

